body,
html {
  overflow: hidden;
}

html.provider-inline,
html.provider-inline body {
  height: auto;
}

.spinner-holder {
  position: absolute;
  z-index: 999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hidden {
  display: none;
}

.holder {
  position: relative;
  width: 100%;
  min-height: 135px;
}

#app {
  overflow: auto;
}

html.provider-inline #app {
  height: auto;
  max-height: none;
}

header {
  display: flex;
  font-size: 0.8em;
  border-bottom: 1px solid #E3E9EB;
  margin-bottom: 3rem;
  padding-bottom: 1.5em;
}

html.provider-inline header {
  display: none;
}

header p {
  flex: 1;
  margin: 0 1.4rem 0 0;
}

header a {
  text-decoration: none;
}

.uploaded-control p,
.uploading-control p {
  line-height: 44px;
  margin-bottom: 2px;
}

.uploading-control p {
  color: #999999;
}

.search-media {
  position: relative;
  margin-top: 30px;
}

.search-media input {
  text-indent: 30px;
}

.search-media .fa-search {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 22px;
  color: #00abd2;
}

.titles {
  font-size: 0.8em;
  border-bottom: 1px solid #E3E9EB;
  margin-bottom: 1rem;
  padding-bottom: 1.5em;
}

.titles p {
  font-weight: bold;
  margin: 0;
}

.titles p + p {
  font-weight: normal;
  font-size: 0.8em;
  margin: 0.8em 0 0;
}

.gallery-tool {
  font-size: 1em;
  line-height: 44px;
}

.gallery-tool.with-tools {}

.gallery-tool .back-btn {
  padding: 0 0 0 34px;
  position: relative;
  cursor: pointer;
  text-align: right;
  float: left;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}

.gallery-tool .back-btn:hover {
  background: #D9DDDE;
  border-radius: 20%;
}

.gallery-tool .back-btn:before {
  margin-left: 10px;
  content: "\f149";
  font: normal normal normal 16px FontAwesome;
  position: absolute;
  left: 0;
  width: 10px;
  height: 44px;
  line-height: 44px;
}

.helper {
  line-height: 44px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}

.image-library {
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  padding-top: 15px;
}

.image-library .nofiles-msg {
  text-align: center;
  width: 100%;
}

.image-library .nofiles-msg label {
  cursor: pointer;
}

.image-library .item-holder {
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 15px;
}

.image-holder {
  position: relative;
  width: 100%;
  padding-top: 59%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: 1px solid #d9ddde;
  background-color: #FFFFFF;
}

.image-holder .delete-file,
.image-holder .delete-folder {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #a94442;
  color: #ffffff;
  display: none;
}

.image-holder:hover .delete-file,
.image-holder:hover .delete-folder {
  display: block;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

.image-overlay::after,
.image-overlay::before {
  content: '';
  width: 100%;
  order: 1;
}

.image-holder:hover .image-overlay,
.item-holder.selected .image-overlay {
  opacity: 1;
}

.image-overlay .btn {
  opacity: 0;
  line-height: 28px;
  font-size: 0.8em;
  border-radius: 4px;
}

.image-overlay .btn:nth-child(1) {
  order: 1;
}

.image-overlay .btn:nth-child(2) {
  order: 2;
}

.image-overlay .line-break {
  width: 100%;
}

.image-holder:hover .image-overlay .btn {
  opacity: 1;
}

.image-title {
  font-size: 11px;
  margin-top: 1px;
  word-break: break-word;
}

.folder-selection {
  text-align: left;
  margin-bottom: 2rem;
  padding-right: 10px;
}

.folder-selection span.active {
  color: #00abd2;
  font-weight: 600;
}

.image-overlay .fa {
  order: 1;
  font-size: 10vmin;
  color: #ccc;
}

.item-holder.selected .image-overlay .fa {
  color: #00abd2;
}

.folder.selected .image-overlay .fa {}

.folder.selected .image-holder,
.image.selected .image-holder {
  border-color: #00abd2;
}

.image-library .folder,
.image-library .image {
  cursor: pointer;
}

.image-library .folder .image-overlay {
  opacity: 1;
}
@media only screen and (min-width: 488px) {
  .titles,
  header {
    font-size: 1.0em;
  }

  .image-drop-zone p {
    font-size: 1.12em;
  }
}

.drop-zone {
  background: rgba(255, 255, 255, 0.70);
  border: 2px dashed #00abd2;
  text-align: center;
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  z-index: 9999;
  padding-top: 20%;
}

.drop-zone-title {
  width: 75%;
  margin: auto;
  pointer-events: none;
}

.drop-zone-title h1 {
  color: #00abd2;
}

.drop-zone-container {
  position: relative;
  min-height: 300px;
}

.dropZ {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightblue;
}

#app .form-group {
  margin-left: 0;
  margin-right: 0;
}

.what-to-add-selector {
  position: relative;
}

.what-to-add-selector .has-bottom-border {
  min-height: 46px;
  border-bottom: 1px solid #E3E9EB;
}

.drop-note {
  text-align: center;
  font-size: 12px;
  line-height: 1.8;
}

.drop-note span {
  display: inline-block;
  background-color: #E3E9EB;
  padding: 0 6px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.add-btn {
  position: absolute;
  top: 0;
  right: 15px;
}

.col-static {
  position: static;
}

.gallery-tool .back-btn {
  margin-left: -15px;
}

.gallery-tool .back-btn:before {
  margin-left: 14px;
  text-align: center;
}

#progress-bar-wrapper {
  display: none;
  width: 100%;
  position: absolute;
  top: 25%;
  padding: 10px;
}

#progress-bar-wrapper {
  display: none;
  width: 98%;
  position: fixed;
  top: 25%;
  background: rgba(251,224,149,0.8);
  text-align: center;
  margin-left: 1%;
}

#progress-bar {
  width: 100%;
  background-color: white;
}

#progress-line {
  width: 1%;
  height: 30px;
  background-color: rgb(34,156,183);
  margin-bottom: 5px;
}

.cancel-btn-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
}

#cancel-upload {
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(34,156,183);
  cursor: pointer;
  width: 50px;
}

#cancel-upload:hover {
  color: white;
}

#alert-wrapper,
#wrong-file-wrapper {
  position: fixed;
  top: 50%;
  left: 15px;
  right: 15px;
  background: rgba(255, 44, 43, 0.6);
  line-height: 30px;
}

#alert-message,
#alert-title {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
}

#app header {
  padding: 10px 15px;
}

.image-holder:hover .image-overlay,
.item-holder.selected .image-holder .image-overlay {
  background-color: rgba(255, 255, 255, 0.8);
}

.item-holder.selected .image-overlay .fa:before {
  content: "\f00c";
}

.image-overlay .fa {
  font-size: 50px;
}
@media (min-width: 400px) {
  .image-overlay .fa {
    font-size: 65px;
  }
}

.menu-fixed {
  position: relative;
}

.holder {
  overflow-y: auto;
}

.menu-fixed .form-group {
  margin-bottom: 0;
}

.holder:after {
  content: "";
  display: block;
  margin-bottom: 110px;
}
