<div class="col-xs-4 col-sm-3 col-md-2 item-holder folder" data-app-id="{{id}}">
    <div class="image-holder">
        <div class="image-overlay">
            <i class="fa fa-folder" aria-hidden="true"></i>
        </div>
    </div>
    <div class="image-title">{{name}}</div>
</div>
