<div class="col-xs-4 col-sm-3 col-md-2 item-holder image audio {{#if selected}} selected {{/if}}" data-file-id="{{id}}"
  data-file-ext="{{ext}}">
  <div class="thumb-wrapper">
    <div class="btn-group more-options">
      <button class="btn btn-link" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-ellipsis-v"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="text-danger delete-file">Delete</li>
      </ul>
    </div>
    <div class="image-holder file">
      <div class="image-overlay" style="opacity: 1">
        <i class="fa fa-music" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="image-title">{{name}}</div>
</div>