<div class="col-xs-4 col-sm-3 col-md-2 item-holder image document {{#if selected}} selected {{/if}}" data-file-id="{{id}}" data-file-ext="{{ext}}">
  <div class="thumb-wrapper">
    <div class="more-options"><i class="fa fa-ellipsis-v"></i></div>
    <div class="image-holder file">
      <div class="image-overlay" style="opacity: 1">
        <i class="fa fa-file" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="image-title">{{name}}</div>
  <div class="contextual-menu">
    <ul>
      <li class="text-danger delete-file">Delete</li>
    </ul>
  </div>
</div>