<div class="col-xs-4 item-holder file image document" data-file-id="{{id}}" data-file-ext="{{ext}}">
    <div class="image-holder">
        <div class="image-overlay" style="opacity: 1">
            <i class="fa fa-file" aria-hidden="true"></i>
        </div>
    </div>
    <div class="image-title">{{name}}</div>
</div>
