<div class="col-xs-4 col-sm-3 col-md-2 item-holder folder {{#if selected}} selected {{/if}}" data-folder-id="{{id}}" data-parent-id="{{parentId}}">
  <div class="image-holder folder">
    <div class="delete-folder"><i class="fa fa-trash"></i></div>
      <div class="image-overlay">
        <i class="fa fa-folder" aria-hidden="true"></i>
      </div>
  </div>
  <div class="image-title">{{name}}</div>
</div>
