<div class="col-xs-4 item-holder folder" data-folder-id="{{id}}" data-parent-id="{{parentId}}" }>
    <div class="image-holder">
        <div class="image-overlay">
            <i class="fa fa-folder" aria-hidden="true"></i>
        </div>
        <div class="image-info">
            <p>
                <strong>{{name}}</strong>
            </p>
            <p>
                Double click to open the folder
            </p>
        </div>
    </div>
    <div class="image-title">
        <p>
            <strong>{{name}}</strong>
        </p>
    </div>
</div>