<div class="col-xs-4 col-sm-3 col-md-2 item-holder file image font {{#if selected}} selected {{/if}}" data-file-id="{{id}}" data-file-ext="{{ext}}">
    <div class="image-holder">
    	<div class="delete-file"><i class="fa fa-trash"></i></div>
        <div class="image-overlay" style="opacity: 1">
            <i class="fa fa-font" aria-hidden="true"></i>
        </div>
    </div>
    <div class="image-title">{{name}}</div>
</div>