<div class="col-xs-4 col-sm-3 col-md-2 item-holder file image {{#if selected}} selected {{/if}}" data-file-id="{{id}}" data-file-ext="{{ext}}">
    <div class="image-holder" style="background-image: url('{{urlSmall}}');">
        <div class="image-overlay">
            <i class="fa" aria-hidden="true"></i>
        </div>
    </div>
    <div class="image-title">{{name}}</div>
</div>
