<div class="nofiles-msg">
  <div class="drop-zone-container">
    <div class="dropZ">
      <p><strong>No content found</strong></p>
      <span>Drop files here or use the <i>[Add <span class="caret"></span>]</i> button</span>
    </div>
  </div>
</div>
