<div class="nofiles-msg">
  <div class="drop-zone-container">
    <div class="dropZ">
      <p>
        <span>&#x1F633</span>
        <br>
        <strong>This folder seems to be empty</strong>
      </p>
      <small>No {{type}} is found</small>
    </div>
  </div>
</div>
