<div class="nofiles-msg">
  <div class="drop-zone-container">
    <div class="dropZ">
      <p>
        <span>&#x1F633</span>
        <br>
        <strong>This seems to be empty</strong>
      </p>
      <small>Click the <i>See all files</i> link to see possible hidden files in this folder.</small>
    </div>
  </div>
</div>
